In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
nf=pd.read_csv('netflix_titles_2021.csv')

In [3]:
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,blood&water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,NaN,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [4]:
std=pd.read_csv('stud.csv')

In [5]:
std

    Unnamed: 0              name  python  stat  total  percentage status
0            0          ABIMANYU      24    15     39       86.67   pass
1            1             AJITH      25    15     40       88.89   pass
2            2          AKSHAY A      24    18     42       93.33   pass
3            3    ALEN TOM SHAJI      25    18     43       95.56   pass
4            4        ANAND ANIL      25    16     41       91.11   pass
5            5          ANSAL MT      25    19     44       97.78   pass
6            6      ARUN KUMAR N      24    15     39       86.67   pass
7            7          ASWIN CS      24    13     37       82.22   pass
8            8     DHAVOOD NASAR      24    16     40       88.89   pass
9            9      HARIPRIYA KU      24    17     41       91.11   pass
10          10      INDRAJITH KK      25    13     38       84.44   pass
11          11         JISHNU VS      25    15     40       88.89   pass
12          12      JISHNURAJ MP      23    15     38       84.44   pass
13          13            JOPIKA      24    13     37       82.22   pass
14          14      KEERTHI RAVI      25    16     41       91.11   pass
15          15         KIRAN K S      24    20     44       97.78   pass
16          16       LUBNA NIZAR      24    16     40       88.89   pass
17          17    MANCY MAMACHAN      25    16     41       91.11   pass
18          18        MERLIN P M      24    16     40       88.89   pass
19          19   MOHAMMED SAFEER      24    15     39       86.67   pass
20          20  MUHAMMED SIRAJ K      24    19     43       95.56   pass
21          21   NANDAKRISHNAN N       0     0      0        0.00   fail
22          22    NAJMI JAHANGIR      25    13     38       84.44   pass
23          23     NIDA MUSTHAFA      25    15     40       88.89   pass
24          24           RAHUL N      25    16     41       91.11   pass
25          25        RAMSHAD TA      25    19     44       97.78   pass
26          26   SANIKA SAJEEVAN      25    17     42       93.33   pass
27          27         SANOY K M      24    15     39       86.67   pass
28          28       SHAMMAS N M      24    17     41       91.11   pass
29          29        SMIJITH CS      24    13     37       82.22   pass
30          30       SNEHA SHAJI      22    13     35       77.78   pass
31          31    SOORYA.S. NAIR      24    16     40       88.89   pass
32          32         SWATHI AS      25    16     41       91.11   pass
33          33         VIDHYA AG      23    17     40       88.89   pass
34          34   VISHNU MUKUNDAN      24    17     41       91.11   pass

In [6]:
twopowers_sr=std['name']

In [7]:
std['pass_or_fail']=std['total']>40

In [8]:
std

,Unnamed: 0,name,python,stat,total,percentage,status,pass_or_fail
0,0,ABIMANYU,24,15,39,86.67,pass,False
1,1,AJITH,25,15,40,88.89,pass,False
2,2,AKSHAY A,24,18,42,93.33,pass,True
3,3,ALEN TOM SHAJI,25,18,43,95.56,pass,True
4,4,ANAND ANIL,25,16,41,91.11,pass,True
5,5,ANSAL MT,25,19,44,97.78,pass,True
6,6,ARUN KUMAR N,24,15,39,86.67,pass,False
7,7,ASWIN CS,24,13,37,82.22,pass,False
8,8,DHAVOOD NASAR,24,16,40,88.89,pass,False
9,9,HARIPRIYA KU,24,17,41,91.11,pass,True
10,10,INDRAJITH KK,25,13,38,84.44,pass,False
11,11,JISHNU VS,25,15,40,88.89,pass,False
12,12,JISHNURAJ MP,23,15,38,84.44,pass,False
13,13,JOPIKA,24,13,37,82.22,pass,False
14,14,KEERTHI RAVI,25,16,41,91.11,pass,True
15,15,KIRAN K S,24,20,44,97.78,pass,True
16,16,LUBNA NIZAR,24,16,40,88.89,pass,False
17,17,MANCY MAMACHAN,25,16,41,91.11,pass,True
18,18,MERLIN P M,24,16,40,88.89,pass,False
19,19,MOHAMMED SAFEER,24,15,39,86.67,pass,False
20,20,MUHAMMED SIRAJ K,24,19,43,95.56,pass,True
21,21,NANDAKRISHNAN N,0,0,0,0.00,fail,False
22,22,NAJMI JAHANGIR,25,13,38,84.44,pass,False
23,23,NIDA MUSTHAFA,25,15,40,88.89,pass,False
24,24,RAHUL N,25,16,41,91.11,pass,True
25,25,RAMSHAD TA,25,19,44,97.78,pass,True
26,26,SANIKA SAJEEVAN,25,17,42,93.33,pass,True
27,27,SANOY K M,24,15,39,86.67,pass,False
28,28,SHAMMAS N M,24,17,41,91.11,pass,True
29,29,SMIJITH CS,24,13,37,82.22,pass,False
30,30,SNEHA SHAJI,22,13,35,77.78,pass,False
31,31,SOORYA.S. NAIR,24,16,40,88.89,pass,False
32,32,SWATHI AS,25,16,41,91.11,pass,True
33,33,VIDHYA AG,23,17,40,88.89,pass,False
34,34,VISHNU MUKUNDAN,24,17,41,91.11,pass,True

In [9]:
ps=std['pass_or_fail']

In [10]:
ps

0     False
1     False
2      True
3      True
4      True
5      True
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14     True
15     True
16    False
17     True
18    False
19    False
20     True
21    False
22    False
23    False
24     True
25     True
26     True
27    False
28     True
29    False
30    False
31    False
32     True
33    False
34     True
Name: pass_or_fail, dtype: bool

In [11]:
twopowers_sr[ps]

2             AKSHAY A
3       ALEN TOM SHAJI
4           ANAND ANIL
5             ANSAL MT
9         HARIPRIYA KU
14        KEERTHI RAVI
15           KIRAN K S
17      MANCY MAMACHAN
20    MUHAMMED SIRAJ K
24             RAHUL N
25          RAMSHAD TA
26     SANIKA SAJEEVAN
28         SHAMMAS N M
32           SWATHI AS
34     VISHNU MUKUNDAN
Name: name, dtype: object

#  Number of movies released in 2020.

In [32]:
#1) Number of movies released in 2020.
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,blood&water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,NaN,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [33]:
nf1=nf.query('release_year==2020 & type=="Movie"')
nf1

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
16,s17,Movie,Europe's Most Dangerous Man: Otto Skorzeny in ...,"Pedro de Echave GarcÃ­a, Pablo AzorÃ­n Williams",NaN,NaN,"September 22, 2021",2020,TV-MA,67 min,"Documentaries, International Movies",Declassified documents reveal the post-WWII li...
78,s79,Movie,Tughlaq Durbar,Delhiprasad Deenadayalan,"Vijay Sethupathi, Parthiban, Raashi Khanna",NaN,"September 11, 2021",2020,TV-14,145 min,"Comedies, Dramas, International Movies",A budding politician has devious plans to rise...
84,s85,Movie,Omo Ghetto: the Saga,"JJC Skillz, Funke Akindele","Funke Akindele, Ayo Makun, Chioma Chukwuka Akp...",Nigeria,"September 10, 2021",2020,TV-MA,147 min,"Action & Adventure, Comedies, Dramas",Twins are reunited as a good-hearted female ga...
103,s104,Movie,Shadow Parties,Yemi Amodu,"Jide Kosoko, Omotola Jalade-Ekeinde, Yemi Blaq...",NaN,"September 6, 2021",2020,TV-MA,117 min,"Dramas, International Movies, Thrillers",A family faces destruction in a long-running c...
...,...,...,...,...,...,...,...,...,...,...,...,...
3046,s3047,Movie,All the Freckles in the World,YibrÃ¡n Asuad,"HÃ¡nssel Casillas, Loreto Peralta, Andrea Sutto...",Mexico,"January 3, 2020",2020,TV-14,90 min,"Comedies, International Movies, Romantic Movies",Thirteen-year-old JosÃ© Miguel is immune to 199...
3060,s3061,Movie,Ghost Stories,"Anurag Kashyap, Dibakar Banerjee, Karan Johar,...","Janhvi Kapoor, Sobhita Dhulipala, Sukant Goel,...",India,"January 1, 2020",2020,TV-MA,145 min,"Horror Movies, International Movies, Thrillers","The directors of Emmy-nominated ""Lust Stories""..."
5972,s5973,Movie,#cats_the_mewvie,Michael Margolis,NaN,Canada,"February 5, 2020",2020,TV-14,90 min,"Documentaries, International Movies",This pawesome documentary explores how our fel...
7594,s7595,Movie,Norm of the North: Family Vacation,Anthony Bell,"Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...",United States,"May 25, 2020",2020,TV-Y7,89 min,Children & Family Movies,"Stressed by his duties as king and father, Nor..."
8099,s8100,Movie,Straight Up,James Sweeney,"James Sweeney, Katie Findlay, Randall Park, Hi...",United States,"June 26, 2020",2020,TV-MA,96 min,"Comedies, Independent Movies, LGBTQ Movies",When a gay brainiac with OCD questions his ide...

In [34]:
nf1["title"]

0                                    Dick Johnson Is Dead
16      Europe's Most Dangerous Man: Otto Skorzeny in ...
78                                         Tughlaq Durbar
84                                   Omo Ghetto: the Saga
103                                        Shadow Parties
                              ...
3046                        All the Freckles in the World
3060                                        Ghost Stories
5972                                     #cats_the_mewvie
7594                   Norm of the North: Family Vacation
8099                                          Straight Up
Name: title, Length: 517, dtype: object

# 2) Display ratings of TV shows each year.

In [39]:
BM=nf.type=='TV Show'
nf[BM].release_year.value_counts()

2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
1993      4
2000      4
1997      4
1998      4
1990      3
1996      3
1992      3
1995      2
1994      2
1988      2
1986      2
1989      1
1967      1
1985      1
1946      1
1981      1
1972      1
1979      1
1977      1
1991      1
1974      1
1925      1
1945      1
1963      1
Name: release_year, dtype: int64

In [40]:
nf.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)